.container{
    background-color: black;
    width: 100%;
    height :100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    
background-color: aliceblue;
display: flex;
justify-content: center;
margin : 0px;
width: 300px;
height : 300px;
background-image: url('foto/image.jpeg');
background-size: cover;
background-position: center;
}

.text{
    color: aliceblue;
    margin-top: 20px;
    font-size: 30px;
}

.button {
    background-color: transparent
    ;
    display: flex;
    gap : 40px;
    margin-top: 20px;
}

.button button {
    padding :12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius : 5px;
    transition: transform 0.2s ease-in-out;
}

.yes {
    background-color: antiquewhite;
}

.no {
    background-color :antiquewhite;
}

.button button:hover{
    transform: scale(1.1);
}